{
    "printWidth": 200,
    "editor.formatOnSave": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true
}
