<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <title>Our rules</title>

        <link href="./static/index.css" rel="stylesheet" />

        <meta name="theme-color" content="#7952b3" />

        <style>
            .parallax {
                background-image: url("./static/background.jpg");
                height: 600px;
                background-repeat: repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <body class="d-flex h-auto text-white parallax">
        <div class="cover-container d-flex w-100 h-auto p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0"></h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="https://github.com/tooruu/arabot">Github</a>
                        <a class="nav-link" href="">Rules</a>
                    </nav>
                </div>
            </header>

            <h1 class="text-center">Our Rules</h1>
            {% set intro, heading, rules = rules.partition("\n\n📜Server rules\n") %}
            <h2 class="text-center">{{ intro }}</h2>

            <ol>
                {% for rule in rules.split("\n") %}
                <li>{{ rule.partition(" ")[2] }}</li>
                {% endfor %}
            </ol>

            <ol>
                {% for rule in rrules.split("\n") %}
                <li>{{ rule.partition(" ")[2] }}</li>
                {% endfor %}
            </ol>

            <main class="px-3">
                <!-- <img src="https://discord.com/emojis/{{ emoji_id }}.png"></img> -->
                <p class="lead text-center">
                    <a href="https://discord.gg/lobby1" class="btn btn-lg btn-secondary center fw-bold border-white bg-white">Still join Us</a>
                </p>
            </main>

            <footer class="mt-auto text-center text-white-50">
                <p>Provided by Sergon23</p>
            </footer>
        </div>
    </body>
</html>
